* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.header-color {
  background: white;
}
.navbar-nav {
  gap: 40px;
}

.navbar-margin-top {
  margin-top: 65px;
}

@media (min-width: 576px) {
  .navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}

.img-privilige {
  width: 308px;
  height: 139px;
  border-radius: 20px;
}

.petik {
  width: 64px;
  height: 48px;
}

.img-story {
  width: 56px;
  height: 56px;
  border-radius: 40px;
}

.icon {
  font-weight: 400;
  font-size: 40px;
  color: #b8b6b6;
}

.img-instagram {
  max-width: 430px;
  max-height: 430px;
  width: auto;
  height: auto;
}

.list-group {
  list-style: none;
}

.icons {
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  padding-left: 20px;
}

.icon-video {
  font-size: 24px;
}

.img-section3 {
  width: 568px;
  height: 568px;
}

.mt-button {
  margin-top: 32px;
}

.padding-layout-section-3 {
  align-items: center;
}

.link-location {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #ffffff;
}

.margin-button {
  margin-top: 24px;
}

.img-training {
  width: 462px;
  height: 414px;
}

.margin-img-train {
  margin-top: 24px;
}

.margin-section-training {
  margin-top: 80px;
}

.img-regular {
  width: 462px;
  height: 600px;
}

.grid-img {
  --auto-grid-min-size: 16rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
  list-style: none;
}

.flex-button-job {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.link-view-job {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #424242;
}

.flex-branch-job {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.icon-map {
  color: #2ebaf8;
}

.list-detail {
  margin-bottom: 18px;
}

.flex-button {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  margin-top: 15px;
}

.layout-cv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-logo-loading {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* REACT IG FEED */

._2R-kh {
  display: flex;
  flex-wrap: wrap;
}
._wPDyp {
  flex: 0 0 calc(100% / 3 - 10px);
  margin: 5px;
  display: block;
  position: relative;
}
._vzTHL {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.25s;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
._3xnQP {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  opacity: 0;
}
._3xnQP:hover {
  opacity: 1;
  background-color: #00000061;
}
@media (max-width: 480px) {
  /* CSS */
  ._wPDyp {
    flex: 0 0 calc(100% / 2 - 10px);
    margin: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  ._wPDyp {
    flex: 0 0 calc(100% / 3 - 10px);
    margin: 5px;
  }
}

._3lhLL {
  text-align: center;
  color: red;
  font-size: 18px;
}

._1I_qj {
  position: relative;
}

._3qwMT {
  position: absolute;
  padding-bottom: 67%;
  margin-bottom: 4rem;
  width: 100%;
  background: #ffdd28;
  opacity: 1;
  transition: opacity 2s ease;
}

._3rVly {
  opacity: 0;
}

._2R-kh {
  display: flex;
  flex-wrap: wrap;
}
._wPDyp {
  flex: 0 0 calc(100% / 6 - 10px);
  margin: 5px;
  display: block;
  position: relative;
}
._vzTHL {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.25s;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
._3xnQP {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  opacity: 0;
}
._3xnQP:hover {
  opacity: 1;
  background-color: #00000061;
}
@media (max-width: 480px) {
  /* CSS */
  ._wPDyp {
    flex: 0 0 calc(100% / 2 - 10px);
    margin: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  ._wPDyp {
    flex: 0 0 calc(100% / 3 - 10px);
    margin: 5px;
  }
}

._3lhLL {
  text-align: center;
  color: red;
  font-size: 18px;
}

._1I_qj {
  position: relative;
}

._3qwMT {
  position: absolute;
  padding-bottom: 67%;
  margin-bottom: 4rem;
  width: 100%;
  background: #ffdd28;
  opacity: 1;
  transition: opacity 2s ease;
}

._3rVly {
  opacity: 0;
}

/* CARD TRAINING */
.card-training {
  box-shadow: 10px 24px 56px 0px rgba(0, 0, 0, 0.25);
}

.card-location {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: none !important;
  padding: 10px 15px 0 15px;
}

.title-location {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212;
}

.sub-location {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #424242;
}

.text-schedule {
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.link-location {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: #121212;
}

.map-icon {
  color: #2ebaf8;
}

.button-join-flex {
  display: flex;
  justify-content: end;
}

.logo-img {
  width: 50%;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .img-section3 {
    width: 350px;
    height: 350px;
  }

  .padding-layout-section-3 {
    padding: 5px 0px;
  }

  .img-training {
    width: 355px;
    height: 320px;
  }

  .img-regular {
    width: 355px;
    height: 416px;
  }

  .grid-img {
    --auto-grid-min-size: 15rem;
    margin-bottom: 50px;
    list-style: none;
  }

  .link-view-job {
    color: #ffffff;
  }

  .button-join-flex {
    display: flex;
    justify-content: center;
  }
}
